<.form for={@form} phx-change="validate" phx-submit="save">
  <.input field={@form[:title]} label="Title" />
  <.input field={@form[:email_address]} label="Email Address" />
  <.input field={@form[:send_time]} label="Send Time" />

  <.source_inputs form={@form} />
  <.button phx-disable-with="Saving...">Save</.button>
</.form>
